<footer>
  <div class="newslestter-wrapper">
    <div class="newsletter-description">
      <h2 class="newsletter-title">Inscreva-se em nossa newsletter</h2>
      <p>As últimas notícias, enviadas para sua caixa de entrada semanalmente.</p>
    </div>

    <div class="newsletter-input">
      <input type="email" name="email" id="email" placeholder="Digite o seu e-mail">
      <button>Me inscrever</button>
    </div>
  </div>

  <hr class="horizontal-line">

  <div class="social-and-copyright">
    <a href="/" class="social-icon" aria-label="instagram">
      <i class="fa-brands fa-instagram"></i>
    </a>
    <p>Nossa Sorte Oficial. <br>
      &copy; 2024 Recriado por Luis Gustavo.</p>
  </div>
</footer>
